! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #101010
xscreensaver.Dialog.background:         #D8D8D8
xscreensaver.Dialog.topShadowColor:     #D8D8D8
xscreensaver.Dialog.bottomShadowColor:  #D8D8D8
xscreensaver.Dialog.Button.foreground:  #101010
xscreensaver.Dialog.Button.background:  #E5E5E5
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #101010
xscreensaver.Dialog.text.background:    #E5E5E5
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #101010
xscreensaver.passwd.thermometer.background:  #2E2E2E
xscreensaver.passwd.thermometer.width:       8

! urxvt ----------------------------------------------------------------------

! scrollbar stuff
URxvt.scrollBar: false
! clickable URLs
URxvt.perl-ext-common: default,matcher,fullscreen, osc-xterm-clipboard
URxvt.url-launcher: /usr/bin/iceweasel
URxvt.keysym.F11:       perl:fullscreen:switch

! Uncomment for Tango theme integration goodness
! URxvt*foreground: #eeeeec
! URxvt*background: #2E3436 

URxvt*cursorColor: #eeeeec
URxvt.matcher.button: 1
URxvt*font: -misc-orp-medium-r-*-*-12-110-75-75-*-60-iso10646-*
URxvt*boldFont: -misc-orp-bold-r-*-*-*-*-*-*-*-*-iso10646-1
URxvt*italicFont: -misc-orp-*-i-*-*-*-*-*-*-*-*-iso10646-1

! Main colors 
! Solarized

URxvt*background: #003435
URxvt*foreground: #c8c6c6

! black dark/light
URxvt*color0: #073642
URxvt*color8: #002b36
 
! red dark/light
URxvt*color1: #dc322f
URxvt*color9: #cb4b16
  
! green dark/light
URxvt*color2: #859900
URxvt*color10: #586e75
   
! yellow dark/light
URxvt*color3: #b58900
URxvt*color11: #657b83
    
! blue dark/light
URxvt*color4: #268bd2
URxvt*color12: #839496
     
! magenta dark/light
URxvt*color5: #d33682
URxvt*color13: #6c71c4
      
! cyan dark/light
URxvt*color6: #2aa198
URxvt*color14: #93a1a1
       
! white dark/light
URxvt*color7: #eee8d5
URxvt*color15: #fdf6e3
